body {
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
    height: 100%;
    overflow-x: hidden;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .video_container {
        padding: 2% 2%;
        margin-left: 2px;
        width : 50%;
        height: 20%;
    }
    div.intro{
        margin-right: 2%;
        margin-left: 5%;
        padding: 2% 2%;
        width: 50%;
        height: 3%;
        text-align: justify;
    }
    div.container {
        display: flex;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    div.video_container {
        padding: 2% 2%;
        margin-left: 2px;
        width : 50%;
        height: 20%;
        justify-content: left;
    }
    div.intro{
        margin-right: 2%;
        margin-left: 5%;
        padding: 2% 2%;
        width: 50%;
        height: 3%;
    }
    div.container {
        display: flex;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    div.video_container {
        padding: 2% 2%;
        margin-left: 2px;
        width : 50%;
        height: 20%;
        justify-content: left;
    }
    div.intro{
        margin-right: 2%;
        margin-left: 5%;
        padding: 2% 2%;
        width: 50%;
        height: 3%;
    }
    div.container {
        display: flex;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    div.video_container {
        padding: 2% 2%;
        margin-left: 2px;
        width : 50%;
        height: 20%;
        justify-content: left;
    }
    div.intro{
        margin-right: 2%;
        margin-left: 5%;
        padding: 2% 2%;
        width: 50%;
        height: 3%;
    }
    div.container {
        display: flex;
    }
}
